*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}




/*==============header section start=================*/

header{
    background-image: url("./Assets/Hero-bg.png");
    height: 700px;
    width: 100%;
    
}
header nav{
    margin-bottom: 150px;
}
header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
}
header nav ul li h1{
    font-size: 50px;
}
header ul li button{
    font-size: 20px;
    padding: 15px 35px;
    border-radius: 12px;
    border: none;
}

header section h2{
    text-align: center;
    font-size: 5em;
}
header section button{
    display: block;
    text-align: center;
    margin: 50px  auto;
    font-size: 20px;
    padding: 15px 35px;
    border-radius: 12px;
    border: none;
    
}

/*==============header section end =================*/


/*==============Action section start=================*/

main .Action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
main section div{
    display: block;
    margin-top: 150px;
}
main section div h1{
    font-size: 60px;
    margin: 20px 0;
}
main section div p{
    font-size: 40px;
    margin: 20px 0;
    font-weight: 300;
}
main section div button{
    font-size: 20px;
    padding: 15px 35px;
    border-radius: 12px;
    border: none;
}
main section .Action-image img{
    border-radius: 70px;
    height: 450px;
    width: 550px;

}


/*==============Action section end=================*/


/*==============productive user section start=================*/

main .productive-users-section{
    margin-top: 150px;
    
}
main section .productive-users-div{
    background-color: rgba(0, 0, 255, 0.11);
    width: 80%;
    height: 300px;
    border-radius: 30px;
    display: block;
    margin: auto;
}
main section .productive-users-div h3{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
main section .productive-users-div div{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}
main section .productive-users-div div div{
    display: inline;
    margin: 0;
}
main section .productive-users-div div div h1{
    font-size: 90px;
    color: #4E47FF;
}
main section .productive-users-div div div span{
    font-size: 30px;
    margin-top: -40px;
    position: absolute;
    color: #757575;
}



/*==============productive user section end=================*/


/*==============users-feedback-section section start=================*/

.users-feedback-section{
    margin-top: 150px;
    
}
main .users-feedback-section .users-feedback-div{
    margin: 0 10%;
}
.comment-header{
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}
.comment-aeia{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.user-comment-aria{
    background-color: #FFFFFF;
    width: 27%;
    padding: 1.9%;
    border-radius: 28px;
    margin-top: 0;
}
.user-comment-aria div{
    margin-top: 0px;
}
.user-comment-aria div ul{
    list-style: none;
    display: flex;
   
}
.user-comment-aria div .user-type-header{
    font-size: 30px;
}
.user-comment-aria div .user-comment-details{
    font-size: 20px;
}
.user-comment-aria div div{
    display: flex;
    align-items: center;
}
.user-comment-aria div div ul{
    display: inline;
}
.user-comment-aria div div img{
    border-radius: 50%;
    height: 50px;
    border: 1px solid black;
    margin-right: 10px;
}


/*==============users-feedback-section section end=================*/


/*==============visit-webflow-section start=================*/

.visit-webflow-section{
    margin: 150px 10%;
}

.webflow-div{
    background-color: #FFFFFF;
    padding: 80px;
    display: block;
    justify-content: center;
    text-align: center;
}

.visit-webflow-section h1{
 text-align: center;
 font-size: 50px;
 margin: 20px;
}
.visit-webflow-section span{
 text-align: center;
 font-size: 20px;
 margin: 20px;
 display: block;
 color: #757575;
}
 
.visit-webflow-section button{
 text-align: center;
 font-size: 20px;
 margin-bottom: 20px;
 background-color: #4E47FF;
 color: #FFFFFF;
}
 
.visit-webflow-section img{
border-radius: 30px;
height: auto;
width: 100%;
}
 


/*==============visit-webflow-section end=================*/




/*==============touch-section start=================*/





.touch-section{
    margin: 0 10%;
}
.touch-section div{
   display: flex;
   margin-top: 0;
   justify-content: space-between;
   overflow: hidden;
   height: 500px;
}
.touch-section div h1{
   text-align: left;
   font-size: 90px;
   width: 40%;
   margin-top: 150px;
}
.touch-section div form{
   height: 200px;
   display: block;
   font-size: 20px;
   font-weight: bold;
   
}
.touch-section div form input{
   height: 30px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
   display: block;
   border: .5px solid #e0e0e0;
   margin-top: 8px;
}
.touch-section div form .message{
   height: 80px;
    width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
   display: block;
   border: .5px solid #e0e0e0;
   margin-top: 8px;
}
.touch-section div form button{
   height: 50px;
    width: 440px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
   display: block;
   color: #FFFFFF;
   background-color: #4E47FF;
}
.touch-section div form label{
    margin-bottom: 10px;
}
textarea {
  resize: none;
}

/*==============touch-section end=================*/

/*==============footer section start=================*/


footer{
    background-color: #FFFFFF;
}

footer div{
    margin: 0 10%;
    margin-top: 50px;
    background-color: #FFFFFF;
}
footer div div h1{
    font-size: 120px;
    color: #4E47FF;
    text-align: center;
    padding-top: 100px;
}
footer div div p{
    font-size: 20px;
    color: #B3B3B3;
    text-align: center;
    padding-top: 10px;
}
footer div ul{
    list-style: none;
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}
footer div ul li a{
    font-size: 20px;
    color: #B3B3B3;
    text-align: center;
    padding-top: 20px;
    list-style: none;
    text-decoration: none;
    margin: 0 20px;   
    
}

/*==============footer section end=================*/

/* color define start  */
.primary-text-color{
    color: #252432;
}
.Secondary-text-color{
    color: #757575;
}
.tertiary-text-color{
    color: #B3B3B3;
}
.blue-text-color{
    color: #4E47FF;
}
.white-text-color{
    color: #FFFFFF;
}
.primary-color{
    background-color: #4E47FF;
}
.bg-color{
    background-color: #F5F8FF;
}
/* color define end */ 




/*============== button hover effect start================== */

.hover-effect:hover{
    background-color: tomato;
    transition: .2s;
}

.hover-effect-text:hover{
    color: tomato;
    transition: .2s;
}

/*============== button hover effect start================== */

